/*Academics Page Stylesheet*/

.experience-entry > img {
    width:50%;
    height:auto;
}
.experience-entry > h2 {
    margin-left:3em;
    text-indent:-1em;
}
.experience-entry > p {
    margin-left:1em;
    text-indent:-1em;
}
.experience-entry > details > p {
    margin-left:1em;
}


@media only screen and (orientation:landscape), (min-width:1024px) {
    .experience-entry > img {
        width:25%;
    }
    .experience-entry > p {
        margin-left:5em;
        text-indent:-1em
    }
    .experience-entry > details {
        margin-left:4em;
    }
}